@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* common css */
/* font family */
/* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.btn{
    background-color: #30b868;
    width: 164px;
    height: 44px;
    padding: 16px 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
/* header area css start */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 92px;
   background-color: #FFFFFF;
    align-items: center;
    padding: 16px 120px;

}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    opacity: 0.9px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/* hero area css start */
.hero-area{
    max-width: 1600px;
    height: 674px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-area h3{
    font-family: Inter;
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
color: #FFFFFF;
text-align: center;
text-transform: capitalize;

}
.hero-area .header{
    font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 84px;
color: #30b868;
text-align: center;
text-transform: capitalize;
}
.hero-area p{
font-family: Inter;
font-size: 18px;
font-weight: 400;
text-align: center;
color: #FFFFFF;
padding: 16px 0px;
}
.early-acc{
    background-color: #FFFFFF;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    display: flex;
    gap: 9px;
}
.btn-area{
    display: flex;
    gap: 9px;
}
.hero-area .btn-1{
    background-color: #30b868;
    width: 251px;
    height: 52px;
    padding: 16px 12px;
    align-items: center;
    color: #FFFFFF;
    border-radius: 4px;
    
}
.hero-area .btn-2{
    box-sizing: border-box;
  border: 1px solid #FFFFFF;
    width: 198px;
    height: 52px;
    padding: 16px 12px;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}
/* notes area css start */
.notes-area{
    background-color: #FFFFFF;
    max-width: 1600px;
    height: 500px;
}
.notes-area h4{
padding-top: 30px;
padding-bottom: 0px;
width: 1360px;
height: 152px;
font-family: Inter;
font-size: 48px;
font-weight: 700;
text-align: center;
text-transform: capitalize;
color: #000000;
}
.notes-area p{
padding-top: -40px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: center;
color: #627382;
}
.card-area{
display: flex;
padding: 0px 120px;
gap: 16px;
padding-top: 10px;
}
.card-area .card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
 background: #FFFFFF;
width: 322px;
height: 300px;
border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background-color: #FFFFFF;
padding: 10px;
}
.card-1 img{
    background-color: #F95555;
    width: 32px;
    height: 32px;
    padding: 9px;
    border-radius: 100%;
}
.card-area .card-1 h6{
color: #000000;
font-family: Inter;
font-style: Semi Bold;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}
.card-area .card-1 p{
 color: var(--#627382, rgba(98, 115, 130, 1));
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
padding: 10px 0;
}
/* think area css start */
.think-area{
    background-color: #FFFFFF;
    max-width: 1600px;
    height: 506px;
    display: flex;
 }
.think-area .think-main{
    background-color: rgba(247, 246, 242, 1);
    max-width: 1360px;
    height: 384px;
    padding: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}